<div class="container">
  <div
  class="form-inline my-2 my-lg-0 align-items-center justify-content-between"
>
<div><h1></h1></div>
  <div>
    <input
      class="form-control mr-sm-2 busqueda text-center"
      type="search"
      placeholder="buscar usuario"
      aria-label="Search"
      name="term"
      (keyup)="onSearh()"
      [(ngModel)]="termino"
    />
  </div>
  <div >
    <button type="button"  class="btn boton-principal" *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_USER', 'ROLE_ADMINSYSTEMAS'])"
    routerLink="/usuario/formUsuario"
    data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Usuario</button>
  </div>
</div>
<div class="">
  <br>
</div>

  <table class="table table-bordered table-striped tabla-estilo" >
    <thead class="cabecera text-white">
      <tr >
          <th>CURP</th>
          <th>CORRREO</th>
          <th>ESTADO</th>
          <th>ROL</th>
          <th *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_USER', 'ROLE_ADMINSYSTEMAS'])"><i class="fas fa-pencil-alt"></i></th>
          <th *ngIf="authService.hasRole(['ROLE_ADMINSYSTEMAS'])"><i class="fas fa-trash-alt"></i></th>
          <th >DESACYIVAR</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-white " *ngFor="let usuario of usuarios">
          <td>{{usuario.id_empleado}} </td>
          <td>{{usuario.email}}</td>
          <td [ngClass]="inputEstado.checked?'text-success':'text-danger'">{{usuario.sEstado}}</td>
          <td>{{usuario.nombre_rol}}</td>
          <td *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_USER', 'ROLE_ADMINSYSTEMAS'])">
            <button type="button" name="editar"  class="btn btn-primary btn-sm" [routerLink]="['/usuario/formUsuario',usuario.email]"><i class="fas fa-pencil-alt"></i></button>
          </td>
          <td *ngIf="authService.hasRole(['ROLE_ADMINSYSTEMAS'])">
            <button type="button" name="eliminar"  class="btn btn-danger btn-sm" (click)='eliminarUsuario(usuario)'><i class="fas fa-trash-alt"></i></button>
          </td>
          <td>
              <label [for]="usuario.email" class="toggle-switchy" data-style="rounded">
                  <input #inputEstado checked type="checkbox" [id]="usuario.email" [checked]="usuario.estado" (change)="onChange(usuario,inputEstado.checked)" [disabled]="!authService.hasRole(['ROLE_ADMINSYSTEMAS'])" >
                  <span class="toggle">
                      <span class="switch"></span>
                  </span>
              </label>
          </td>
      </tr>
    </tbody>
  </table>
  <app-paginador-usuario *ngIf="paginador" [paginador]="paginador"></app-paginador-usuario>
</div>

