<div class="main-container">
  <!--<img src="../../../../assets/img/fondo-4.jpg" width="1366px" height="665px">-->
  <div class="card">
      <h3 class="tittle"><strong>CONSULTAR ADEUDOS</strong></h3>
      <div class="card-body">
          <form #lineaCaptura="ngForm">
            <div class="row g-3">
              <div class="col-sm-5">
                <mat-form-field  appearance="outline" >
                  <mat-label>Buscar Contribuyente</mat-label>
                  <input type="text"
                         placeholder="Ingrese su RFC"
                         aria-label="Buscar"
                         matInput
                         [formControl]="autoCompleteContribuyente"
                         [matAutocomplete]="auto">
                         <mat-icon matSuffix>search</mat-icon>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombreContribuyente" (optionSelected)="seleccionarContribuyente($event)">
                    <mat-option (click)="open(content)" data-bs-target="#exampleModal" data-bs-whatever="@mdo" *ngFor="let contribuyente of filtroContribuyente | async" [value]="contribuyente">
                      {{contribuyente.rfc_contribuyente}} {{contribuyente.nombreContribuyente}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row g-2">
              <div class="col-3">
                <div class="input-group">
                  <span class="input-group-text">
                      RFC
                  </span>
                  <input type="text" class="form-control" placeholder="RFC contribuyente" disabled name="rfcInput" [(ngModel)]="contribuyente.rfc_contribuyente">
                </div>
              </div>
              <div class="col-4">
                <div class="input-group">
                  <span class="input-group-text"><span class="bi-person"></span></span>
                  <input name="nombreInput" type="text" class="form-control" placeholder="Nombre contribuyente" disabled [(ngModel)]="contribuyente.nombreContribuyente">
                </div>
            </div>
            <div class="col-5">
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                <input name="direccionInput" type="text" class="form-control" placeholder="Dirección contribuyente" disabled [(ngModel)]="contribuyente.direccion">
              </div>
          </div>
            </div>
            <ng-template #elseContribuyenteMoral>
              <div class="row g-2">
                <div class="col-3">
                  <div class="input-group">
                    <span class="input-group-text">
                        RFC
                    </span>
                    <input type="text" class="form-control" placeholder="RFC contribuyente" disabled>
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-people"></i></span>
                    <input type="text" class="form-control" placeholder="Nombre contribuyente" disabled>
                  </div>
              </div>
              <div class="col-5">
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                  <input type="text" class="form-control" placeholder="Dirección contribuyente" disabled>
                </div>
            </div>
              </div>
            </ng-template>
            <div class="mt-3">
              <div class="mt-3">
                <select [disabled]="selectEstado" [(ngModel)]="value" (change)="onChange()" name="consulta" class="form-select">
                  <option selected value='true'>Consultar contribuciones pagadas</option>
                  <option value='false'>Consultar proximos pagos de contribuciones</option>
                </select>
              </div>
            </div>
            <div class="row g-2 mt-3" *ngIf="this.facturasPagadas">
            <table class="table table-sm" *ngIf="this.facturasPagadas.length>0 || this.facturasProximas.length>0">
              <thead>
                <tr>
                  <th class="texto">Fecha</th>
                  <th class="texto">Datos de la Contribucion</th>
                  <th class="texto">Total</th>
                </tr>
              </thead>
              <tbody class="texto">
                <tr *ngFor="let factura of facturas">
                    <td class="texto">{{factura.fecha_solicitud}}</td>
                    <td>{{factura.contribucion}}</td>
                    <td>{{factura.total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="form-group row">
              <div class="col-sm-2">

              </div>
              <div class="col-sm-12">
                <div class="mx-auto" *ngIf="this.facturasPagadas">
                  <a *ngIf="this.facturasPagadas.length>0 || this.facturasProximas.length>0" type="button" class="btn btn-danger" href='{{base}}/api/reportes/informacionPagos/exportarPDF/{{this.contribuyente.nombreContribuyente}}/{{this.contribuyente.rfc_contribuyente}}/{{this.contribuyente.direccion}}/{{tipoConsulta}}'>Descargar PDF</a>
                </div>
              </div>
            </div>
          </form>

        </div>
  </div>
</div>

<ng-template #content let-modal>
  <div >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class=" text-center mt-3">
          <h1 class="" id="exampleModalLabel">Ingrese su codigo</h1>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Codigo:</label>
              <input type="text" class="form-control" name="codigo" id="recipient-name" [(ngModel)]="codigo">
              <div class="invalid-relleno" *ngIf="!mostrar">
                  El codigo es invalido
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close" aria-label="Close" (click)="cerrar()" >Cancelar </button>
          <button type="button" (click)="verificarAutorizacion()" class="btn btn-primary">Verificar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>



