/*MI CSS*/
.card{
  position: absolute;
  width: 1310px;
  height: auto;
  top: 1%;
  left: 1%; /*decia left*/
  transform: translate(1%, 1%);
  background: #FFFFFF;
  background-color:hsla(327, 97%, 24%, 0.3);
  border-radius: 3px;
  text-align: center;
}

.tittle{
  font-family: Sansation;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 40px;
  align-items: center;
  font-family: "Sansation", sans-serif;
  color: #FFFFFF;
}

.texto{
  color: #FFFFFF;
}

.main-container{
  background-color: #740432;
  background-size: cover;
  height: 100vh;
  background-image: url('../../../../assets/img/fondo-4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.table-wrapper-adeudos {
  width: 100%;
  height: 260px; /* Altura de ejemplo */
  overflow: auto;
}

.table-wrapper-adeudos table thead {
  position: -webkit-sticky; /* Safari... */
  background-color: darkred;
  position: sticky;
  top: 0;
  left: 0;
}

