::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(69, 162, 158, 0.2);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(69, 162, 158, 0.6);
  cursor: pointer;
}
body {
  background-color: #e6e6e6;
}
.page .sidebar{
  background: #70a2df;/** linear-gradient(35deg, #66fcf1, #45a29e);*/
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.minav-link{
  height: 60px;

}

.color-border:hover{
  border-color: #740432 /*rgb(80, 57, 215);*/
}
.color-border a:hover{
  background-color: #a3585b; /*rgb(141, 174, 246);*/
}

.page .content{
  margin-left: 250px;
  transition: all 0.3s ease;
}
.navigationBar {
  background-color: white;
  height: 50px;
  display: flex;
  padding: 38px 0px;
  align-items: center;
  box-shadow: 0 4px 2px -2px #c5c6c7;
}

.minabar{
  background: #e8edf4; /**linear-gradient(35deg, #f0f5f9, #c0d2e9);*/
  height: 50px;

}

.sidebarToggle {
  font-size: 16px;
  color: #c8c6bb; /**rgb(0, 0, 0, 0.8);*/
  margin-left: -20px;
  z-index: 999;
  border-radius: 50px;
  background-color: #e6e6e6;
  transition: all 0.3s ease;
  outline: none!important;
  box-shadow: none!important;
}
.sidebarToggle.active {
  margin-left: 10px;
}
.sidebarToggle:hover{
  color: white;
}
.page .content .container{
  /*margin: 30px;*/
  margin-top: 1rem;
  background: #fff;
  /*padding: 50px;*/
  line-height: 28px;
}
body.active .page .sidebar{
  left: -250px;
}
body.active .page .content{
  margin-left: 0;
  width: 100%;
}
.sidebar-header {
  padding: 10px 25px 10px 15px;
}
.sidebar-logo-container {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-left: 3px;
  display: flex;
}
.logo-container {
  max-width: 40px;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 8px;
  padding: 6px 8px;
}
.brand-name-container {
  margin: 10px 55px 0px 2px;
  padding: 0px;
}
.logo-sidebar {
  width: 215px;
  height: auto;
}
.brand-name {
  color: white;
  margin: 0px;
  line-height: 1.1rem;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}
.brand-subname {
  font-weight: 300;
  font-size: 14px;
}
.navigation-list {
  list-style-type:none;
  padding: 0px 18px;
  margin-top: 30px;
}
.navigation-list-item {
  padding: 12px 18px 12px 25px;
  margin: 15px 0px;
  border-radius: 8px;

}
.navigation-list-item:hover {
  background: rgb(0, 0, 0, 0.05);
  box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
  cursor: pointer;
}
.navigation-list-item.active {
  background: rgb(0, 0, 0, 0.1);
  box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
}
.navigation-link {
  color: #c8c6bb;/*rgb(31, 40, 51, 0.8);*/
  letter-spacing: 0.5px;
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.navigation-link i {
  font-size: 18px;
}
.navigation-list-item:hover .navigation-link {
  color: rgb(255, 255, 255, 0.7);
}
.navigation-list-item.active .navigation-link {
  color: rgb(255, 255, 255, 0.8);
  font-weight: 500;
}
.teams-title-container {
  padding-left: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.teams-title {
  letter-spacing: 0.5px;
  font-size: 17px;
  color: #c8c6bb;/*rgb(31, 40, 51, 0.8);*/
  font-family: 'Roboto', sans-serif;
}
.teams-list {
  padding-left: 32px;
  list-style-type:none;
}
.teams-item {
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #c8c6bb; /*rgb(31, 40, 51, 0.8);*/
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
.teams-item i {
  font-size: 12px;
}



@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 20px;
  font-size: 20px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

/*estilo de las tablas*/
.tabla-estilo{
  border: 1px solid #740432; /*#0454a2;*/
  border-bottom-left-radius: 10%;
}

.tabla-estilo .cabecera{
  background-color: #740432; /*#0454a2;*/
  border-color: #c8c6bb; /*red;*/
}

.tabla-estilo .cabecera tr{
  border-radius: 50%;
}

.table-wrapper {
  width: 100%;
  height: 420px; /* Altura de ejemplo */
  overflow: auto;
}

.table-wrapper table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-wrapper table thead {
  position: -webkit-sticky; /* Safari... */
  position: sticky;
  top: 0;
  left: 0;
}

.table-wrapper table thead th,
.table-wrapper table tbody td {
  border: 1px solid rgb(205, 210, 251);

}

/* botones*/
.boton-principal{
  background-color: #740432; /*#2b79c7;*/
  color: #c8c6bb; /*white;*/
}

.btn-check .boton-principal:hover{
  background-color: #a3585b;
  color: #c8c6bb!important;
}



/* alertas*/
.invalid-relleno {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #740432;
}

.invalid-contorno{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid red;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*estilo de los links */
.links:hover{
  text-decoration: none;
  /**background-color: #0454a2;*/
  color: #0454a2;
}

.form-controll {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #62a3e4;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
