<ng-container *ngIf="tipoContribucion==1">
  <div class="container-fluid  mx-auto">
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">AÑADIR IMPUESTO CONTRIBUCION</h5>

                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Codigo<span class="text-danger"> *</span></label> <input [disabled]="idFound?true:false" type="text"  name="codigo" placeholder="codigo" [(ngModel)]="contribucionImpuesto.codigo_contribucion"> </div>
                        <div class="form-group col-sm-8 flex-column d-flex"> <label class="form-control-label px-3">Descripcion<span class="text-danger"> *</span></label> <input type="text"  name="concepto" placeholder="descripcion" [(ngModel)]="contribucionImpuesto.concepto_contribucion" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Pago<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararPago" name="tipago" [(ngModel)]="contribucionImpuesto.id_tipo_pago"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Pago --</option>
                                <option *ngFor="let tPago of tipoPagos" [ngValue]="tPago.id_pago">{{tPago.nombre_pago}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Concepto<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararDescripcion" name="descripcion" [(ngModel)]="contribucionImpuesto.id_descripcion"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Concepto --</option>
                                <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion.id_catalogo">{{descripcion.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Impuesto<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararTImpuesto" name="tiimpuesto" [(ngModel)]="contribucionImpuesto.catalogo_impuesto"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Impuesto --</option>
                                <option *ngFor="let tImpuesto of tImpuestos" [ngValue]="tImpuesto.id_catalogo">{{tImpuesto.descripcion}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Cantidad<span class="text-danger"> *</span></label> <input type="number"  name="cantidad" placeholder="cantidad" [(ngModel)]="contribucionImpuesto.cantidad"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger"> </span></label><button #buttonCrear [disabled]="vacioImpuesto()" [ngClass]="buttonCrear.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='crearImpuesto()' *ngIf="!idFound else elseBlock">Agregar</button> </div>
                        <div class="form-group col-sm-4 flex-column d-flex">
                            <button type="button" class="btn-block btn-danger" (click)='irImpuestos()'  >Cancelar</button>
                        </div>
                        <ng-template #elseBlock>
                            <button #buttonUpdate [disabled]="vacioImpuesto()" [ngClass]="buttonUpdate.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='actualizarImpuesto()' >Actualizar</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="tipoContribucion==2">
  <div class="container-fluid  mx-auto">
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">AÑADIR DERECHO GENERAL  CONTRIBUCION</h5>

                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Codigo<span class="text-danger"> *</span></label> <input [disabled]="idFound?true:false" type="text"  name="codigo" placeholder="codigo" [(ngModel)]="contribucionDerechosG.codigo_contribucion"> </div>
                        <div class="form-group col-sm-8 flex-column d-flex"> <label class="form-control-label px-3">Descripcion<span class="text-danger"> *</span></label> <input type="text"  name="concepto" placeholder="descripcion" [(ngModel)]="contribucionDerechosG.concepto_contribucion" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Pago<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararPago" name="tipago" [(ngModel)]="contribucionDerechosG.id_tipo_pago"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Pago --</option>
                                <option *ngFor="let tPago of tipoPagos" [ngValue]="tPago.id_pago">{{tPago.nombre_pago}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Concepto<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararDescripcion" name="descripcion" [(ngModel)]="contribucionDerechosG.id_descripcion"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Concepto --</option>
                                <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion.id_catalogo">{{descripcion.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Derecho<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararTDerecho" name="tiderecho" [(ngModel)]="contribucionDerechosG.catalogo_derechos"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Derecho --</option>
                                <option *ngFor="let tDerecho of tDerechos" [ngValue]="tDerecho.id_catalogo">{{tDerecho.descripcion}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Periodicidad<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararPeriodicidad" name="periodicidad" [(ngModel)]="contribucionDerechosG.id_periodicidad"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Periodicidad --</option>
                                <option *ngFor="let periodicidad of periodicidades" [ngValue]="periodicidad.id_periodicidad">{{periodicidad.nombre_periodicidad}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Cantidad<span class="text-danger"> *</span></label> <input type="number"  name="cantidad" placeholder="cantidad" [(ngModel)]="contribucionDerechosG.cantidad"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger"> </span></label><button #buttonCrear [disabled]="vacioDerechosG()" [ngClass]="buttonCrear.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='crearDerechoG()' *ngIf="!idFound else elseBlock">Agregar</button> </div>
                        <div class="form-group col-sm-4 flex-column d-flex">
                            <button type="button" class="btn-block btn-danger" (click)='irDerechosG()'  >Cancelar</button>
                        </div>
                        <ng-template #elseBlock>
                            <button #buttonUpdate [disabled]="vacioDerechosG()" [ngClass]="buttonUpdate.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='actualizarDerechosG()' >Actualizar</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="tipoContribucion==3">
  <div class="container-fluid  mx-auto">
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">AÑADIR DERECHO LICENCIA  CONTRIBUCION</h5>

                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Codigo<span class="text-danger"> *</span></label> <input [disabled]="idFound?true:false" type="text"  name="codigo" placeholder="codigo" [(ngModel)]="contribucionDerechosL.codigo_contribucion"> </div>
                        <div class="form-group col-sm-8 flex-column d-flex"> <label class="form-control-label px-3">Descripcion<span class="text-danger"> *</span></label> <input type="text"  name="concepto" placeholder="descripcion" [(ngModel)]="contribucionDerechosL.concepto_contribucion" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Pago<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararPago" name="tipago" [(ngModel)]="contribucionDerechosL.id_tipo_pago"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Pago --</option>
                                <option *ngFor="let tPago of tipoPagos" [ngValue]="tPago.id_pago">{{tPago.nombre_pago}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Concepto<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararDescripcion" name="descripcion" [(ngModel)]="contribucionDerechosL.id_descripcion"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Concepto --</option>
                                <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion.id_catalogo">{{descripcion.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Derecho<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararTDerecho" name="tiderecho" [(ngModel)]="contribucionDerechosL.catalogo_derechos"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Derecho --</option>
                                <option *ngFor="let tDerecho of tDerechos" [ngValue]="tDerecho.id_catalogo">{{tDerecho.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Precio Expedicion<span class="text-danger"> *</span></label> <input type="number"  name="expedicion" placeholder="expedicion" [(ngModel)]="contribucionDerechosL.expedicion"> </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Precio Refrendo<span class="text-danger"> *</span></label> <input type="number"  name="refrendo" placeholder="refrendo" [(ngModel)]="contribucionDerechosL.refrendo"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger"> </span></label><button #buttonCrear [disabled]="vacioDerechosL()" [ngClass]="buttonCrear.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='crearDerechosL()' *ngIf="!idFound else elseBlock">Agregar</button> </div>
                        <div class="form-group col-sm-4 flex-column d-flex">
                            <button type="button" class="btn-block btn-danger" (click)='irDerechosL()'  >Cancelar</button>
                        </div>
                        <ng-template #elseBlock>
                            <button #buttonUpdate [disabled]="vacioDerechosL()" [ngClass]="buttonUpdate.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='actualizarDerechosL()' >Actualizar</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="tipoContribucion==4">
  <div class="container-fluid  mx-auto">
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">AÑADIR MULTA GENERAL CONTRIBUCION</h5>

                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Codigo<span class="text-danger"> *</span></label> <input [disabled]="idFound?true:false" type="text"  name="codigo" placeholder="codigo" [(ngModel)]="contribucionMultas.codigo_contribucion"> </div>
                        <div class="form-group col-sm-8 flex-column d-flex"> <label class="form-control-label px-3">Descripcion<span class="text-danger"> *</span></label> <input type="text"  name="concepto" placeholder="descripcion" [(ngModel)]="contribucionMultas.concepto_contribucion" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Pago<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararPago" name="tipago" [(ngModel)]="contribucionMultas.id_tipo_pago"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Pago --</option>
                                <option *ngFor="let tPago of tipoPagos" [ngValue]="tPago.id_pago">{{tPago.nombre_pago}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Concepto<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararDescripcion" name="descripcion" [(ngModel)]="contribucionMultas.id_descripcion"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Concepto --</option>
                                <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion.id_catalogo">{{descripcion.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Aprovechamiento<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararTAprovechamiento" name="tiaprovechamiento" [(ngModel)]="contribucionMultas.id_catalogo"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Aprovechamiento --</option>
                                <option *ngFor="let tAprovechamiento of tAprovechamientos" [ngValue]="tAprovechamiento.id_catalogo">{{tAprovechamiento.descripcion}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Cantidad<span class="text-danger"> *</span></label> <input type="number"  name="cantidad" placeholder="cantidad" [(ngModel)]="contribucionMultas.cantidad"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger"> </span></label><button #buttonCrear [disabled]="vacioMultas()" [ngClass]="buttonCrear.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='crearMultas()' *ngIf="!idFound else elseBlock">Agregar</button> </div>
                        <div class="form-group col-sm-4 flex-column d-flex">
                            <button type="button" class="btn-block btn-danger" (click)='irMultas()'  >Cancelar</button>
                        </div>
                        <ng-template #elseBlock>
                            <button #buttonUpdate [disabled]="vacioMultas()" [ngClass]="buttonUpdate.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='actualizarMultas()' >Actualizar</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="tipoContribucion==5">
  <div class="container-fluid  mx-auto">
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">AÑADIR MULTA EBRIEDAD CONTRIBUCION</h5>

                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Codigo<span class="text-danger"> *</span></label> <input [disabled]="idFound?true:false" type="text"  name="codigo" placeholder="codigo" [(ngModel)]="contribucionMEbriedad.codigo_contribucion"> </div>
                        <div class="form-group col-sm-8 flex-column d-flex"> <label class="form-control-label px-3">Descripcion<span class="text-danger"> *</span></label> <input type="text"  name="concepto" placeholder="descripcion" [(ngModel)]="contribucionMEbriedad.concepto_contribucion" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Pago<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararPago" name="tipago" [(ngModel)]="contribucionMEbriedad.id_tipo_pago"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Pago --</option>
                                <option *ngFor="let tPago of tipoPagos" [ngValue]="tPago.id_pago">{{tPago.nombre_pago}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Concepto<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararDescripcion" name="descripcion" [(ngModel)]="contribucionMEbriedad.id_descripcion"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Concepto --</option>
                                <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion.id_catalogo">{{descripcion.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Aprovechamiento<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararTAprovechamiento" name="tiaprovechamiento" [(ngModel)]="contribucionMEbriedad.id_catalogo"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Aprovechamiento --</option>
                                <option *ngFor="let tAprovechamiento of tAprovechamientos" [ngValue]="tAprovechamiento.id_catalogo">{{tAprovechamiento.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Uma min<span class="text-danger"> *</span></label> <input type="number"  name="umamin" placeholder="uma min" [(ngModel)]="contribucionMEbriedad.uma_min"> </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Uma max<span class="text-danger"> *</span></label> <input type="number"  name="umamax" placeholder="uma max" [(ngModel)]="contribucionMEbriedad.uma_max"> </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Cantidad Alcohol<span class="text-danger"> *</span></label> <input type="number"  name="cantidadalcohol" placeholder="cantidad alcohol" [(ngModel)]="contribucionMEbriedad.cantidad_alcohol"> </div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger"> </span></label><button #buttonCrear [disabled]="vacioMEbriedad()" [ngClass]="buttonCrear.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='crearMEbriedad()' *ngIf="!idFound else elseBlock">Agregar</button> </div>
                        <div class="form-group col-sm-4 flex-column d-flex">
                            <button type="button" class="btn-block btn-danger" (click)='irMultasEbriedad()'  >Cancelar</button>
                        </div>
                        <ng-template #elseBlock>
                            <button #buttonUpdate [disabled]="vacioMEbriedad()" [ngClass]="buttonUpdate.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='actualizarMEbriedad()' >Actualizar</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="tipoContribucion==6">
  <div class="container-fluid  mx-auto">
    <div class="row d-flex justify-content-center">
        <div class=" col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">AÑADIR MULTA VEHICULAR CONTRIBUCION</h5>

                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Codigo<span class="text-danger"> *</span></label> <input [disabled]="idFound?true:false" type="text"  name="codigo" placeholder="codigo" [(ngModel)]="contribucionMVehicular.codigo_contribucion"> </div>
                        <div class="form-group col-sm-8 flex-column d-flex"> <label class="form-control-label px-3">Descripcion<span class="text-danger"> *</span></label> <input type="text"  name="concepto" placeholder="descripcion" [(ngModel)]="contribucionMVehicular.concepto_contribucion" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Pago<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararPago" name="tipago" [(ngModel)]="contribucionMVehicular.id_tipo_pago"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Pago --</option>
                                <option *ngFor="let tPago of tipoPagos" [ngValue]="tPago.id_pago">{{tPago.nombre_pago}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Concepto<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararDescripcion" name="descripcion" [(ngModel)]="contribucionMVehicular.id_descripcion"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Concepto --</option>
                                <option *ngFor="let descripcion of descripciones" [ngValue]="descripcion.id_catalogo">{{descripcion.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Aprovechamiento<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararTAprovechamiento" name="tiaprovechamiento" [(ngModel)]="contribucionMVehicular.id_catalogo"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Aprovechamiento --</option>
                                <option *ngFor="let tAprovechamiento of tAprovechamientos" [ngValue]="tAprovechamiento.id_catalogo">{{tAprovechamiento.descripcion}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo Vehiculo<span class="text-danger"> *</span></label>
                            <select  [compareWith]="compararTVehiculo" name="tivehiculo" [(ngModel)]="contribucionMVehicular.tipo_vehiculo"  style="height: 30px;">
                                <option [ngValue]="undefined">-- Seleccionar Tipo Vehiculo --</option>
                                <option *ngFor="let tVehiculo of tVehiculos" [ngValue]="tVehiculo.id_tipo_vehiculo">{{tVehiculo.nombre_vehiculo}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Descripcion Articulo<span class="text-danger"> *</span></label> <input type="text"  name="articulo" placeholder="articulo" [(ngModel)]="contribucionMVehicular.descripcion_articulo" style="height: 50px;"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Uma min<span class="text-danger"> *</span></label> <input type="number"  name="umamin" placeholder="uma min" [(ngModel)]="contribucionMVehicular.uma_min" > </div>
                        <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Uma max<span class="text-danger"> *</span></label> <input type="number"  name="umamax" placeholder="uma max" [(ngModel)]="contribucionMVehicular.uma_max" > </div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger"> </span></label><button #buttonCrear [disabled]="vacioMVehicular()" [ngClass]="buttonCrear.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='crearMVehicular()' *ngIf="!idFound else elseBlock">Agregar</button> </div>
                        <div class="form-group col-sm-4 flex-column d-flex">
                            <button type="button" class="btn-block btn-danger" (click)='irMultasVehicular()'  >Cancelar</button>
                        </div>
                        <ng-template #elseBlock>
                            <button #buttonUpdate [disabled]="vacioMVehicular()" [ngClass]="buttonUpdate.disabled?'btn btn-secondary disabled':''" type="submit" class="btn-block btn-primary" (click)='actualizarMVehicular()' >Actualizar</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="tipoContribucion==7">

</ng-container>
