<div class="container">
  <div
    class="form-inline my-2 my-lg-0 align-items-center justify-content-between"
  >
    <div
      class="btn-group"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        (click)="tipoContribuyente(true)"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-primary" for="btnradio1"
        >Personas Fisicas</label
      >

      <input
        type="radio"
        (click)="tipoContribuyente(false)"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="btnradio2"
        >Personas Morales</label
      >
    </div>
    <div>
      <input
        class="form-control mr-sm-2 busqueda text-center"
        type="search"
        placeholder="buscar contribuyente"
        aria-label="Search"
        name="term"
        (keyup)="onSearh()"
        [(ngModel)]="termino"
      />
    </div>
    <div>
      <button type="button"  class="btn boton-principal" *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_ADMINSYSTEMAS', 'ROLE_TESORERO'])"
      data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar persona {{tipoPersona}}</button>
    </div>
  </div>
  
  <div class="">
    <br>
  </div>
  <div class="d-flex flex-row-reverse">

    <div *ngIf="banderaTipo else PDFmoral">
      <span></span>
      <a
        href="{{
          urlEndPoint
        }}/api/reportes/listaContribuyenteFisica/exportarPDF"
        class="btn btn-danger btn-sm ml-auto"
        ><i class="bi bi-printer"></i>Descargar lista</a>
    </div>
    <ng-template #PDFmoral>
      <span></span>
      <a
        href="{{
          urlEndPoint
        }}/api/reportes/listaContribuyenteMoral/exportarPDF"
        class="btn btn-danger btn-sm ml-auto"
        ><i class="bi bi-printer"></i>Descargar lista</a
      >
    </ng-template>
  </div>
  <ng-container *ngIf="banderaTipo; else blockMoral">
    <div class="table-wrapper">
      <div class="alert alert-info my-4 text-center" *ngIf="contribuyentesFisicas!= undefined && contribuyentesFisicas.length==0">
        no hay ningun contribuyente agregado
      </div>
      <table class="table table-bordered table-striped tabla-estilo" *ngIf="contribuyentesFisicas!= undefined && contribuyentesFisicas.length>0">
        <thead class="cabecera text-white">
          <tr>
            <th>RFC</th>
            <th>CURP</th>
            <th>NOMBRE</th>
            <th>DIRECIÓN</th>
            <th
              class="text-center"
              *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_ADMINSYSTEMAS', 'ROLE_TESORERO'])">
              <i class="fas fa-pencil-alt"></i>
            </th>
            <th class="text-center" *ngIf="authService.hasRole(['ROLE_ADMINSYSTEMAS'])">
              <i class="fas fa-trash-alt"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contribuyente of contribuyentesFisicas">
            <td class="">{{ contribuyente.rfc_contribuyente }}</td>
            <td class="">{{ contribuyente.curp }}</td>
            <td>
              {{ contribuyente.nombre }} {{ contribuyente.apellido_p }}
              {{ contribuyente.apellido_m }}
            </td>
            <td>
              {{ contribuyente.calle }} {{ contribuyente.numero }}
              {{ contribuyente.colonia }} {{ contribuyente.codigo_postal }}
            </td>
            <td
              *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_ADMINSYSTEMAS', 'ROLE_TESORERO'])">
              <button
                type="button"
                name="editar"
                data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="btn btn-primary btn-sm"
                (click)="rellenarFormularioFisica(contribuyente)"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td *ngIf="authService.hasRole(['ROLE_ADMINSYSTEMAS'])">
              <button
                type="button"
                name="eliminar"
                class="btn btn-danger btn-sm"
                (click)="eliminarContribuyente(contribuyente)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <app-paginador-c-fisica
        *ngIf="paginador"
        [paginador]="paginador"
      ></app-paginador-c-fisica>
    </div>
  </ng-container>
  <ng-template #blockMoral>
    <div class="table-wrapper">
      <div class="alert alert-info my-4 text-center" *ngIf="contribuyentesMorales!= undefined && contribuyentesMorales.length==0">
        no hay ningun contribuyente agregado
      </div>
      <table class="table table-bordered table-striped tabla-estilo" *ngIf="contribuyentesMorales!= undefined && contribuyentesMorales.length>0">
        <thead class="cabecera text-white">
          <tr>
            <th>RFC</th>
            <th>RAZÓN SOCIAL</th>
            <th>DIRECCIÓN</th>
            <th
              class="text-center"
              *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_ADMINSYSTEMAS', 'ROLE_TESORERO'])">
              <i class="fas fa-pencil-alt"></i>
            </th>
            <th class="text-center" *ngIf="authService.hasRole(['ROLE_ADMINSYSTEMAS'])">
              <i class="fas fa-trash-alt"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contribuyente of contribuyentesMorales">
            <td>{{contribuyente.rfc_contribuyente}}</td>
            <td>{{ contribuyente.razon_social }}</td>
            <td>
              {{ contribuyente.calle }} {{ contribuyente.numero }}
              {{ contribuyente.colonia }} {{ contribuyente.codigo_postal }}
            </td>
            <td class="text-center"
              *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_ADMINSYSTEMAS', 'ROLE_TESORERO'])">
              <button
                type="button"
                name="editar" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="btn btn-primary btn-sm "
                (click)="rellenarFormularioMoral(contribuyente)"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td class="text-center" *ngIf="authService.hasRole(['ROLE_ADMINSYSTEMAS'])">
              <button
                type="button"
                name="eliminar"
                class="btn btn-danger btn-sm"
                (click)="eliminarContribuyenteM(contribuyente)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <app-paginador-c-moral
        *ngIf="paginador"
        [paginador]="paginador"
      ></app-paginador-c-moral>
    </div>
  </ng-template>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- <app-alerts></app-alerts> -->
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Agregar Persona {{tipoPersona}}</h5>
        <button type="button" class="btn-close" (click)="limpiarModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="miContenedor">
        <form class="row g-3 needs-validation" id="formContribuyente" novalidate >
          <div class="col-md-4 " *ngIf="banderaTipo" >
            <label for="validationCustom01" class="form-label">CURP</label>
            <input (keyup)="onKey($event)" type="text" [disabled]="banderaActualizar?true:false" [ngClass]="curpv.invalid && (curpv.dirty || curpv.touched)?'invalid-contorno':'form-controll'" id="validationCustom01" name="curp" [(ngModel)]="curp" #curpv="ngModel" required minlength="18" maxlength="18">
            <div class="invalid-relleno" *ngIf="curpv.invalid && (curpv.dirty || curpv.touched)">
              <div  *ngIf="curpv.errors.required">
                La CURP es requerida
              </div>
              <div *ngIf="curpv.errors.minlength">
                  la CURP debe tener 18 caracteres
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">RFC</label>
            <input (keyup)="onKey($event)" type="text" [disabled]="banderaActualizar?true:false" [ngClass]="rfcv.invalid && (rfcv.dirty || rfcv.touched)?'invalid-contorno':'form-controll'" id="validationCustom02" name="rfc" [(ngModel)]="rfc" required #rfcv="ngModel" minlength="13"  maxlength="13">
            <div class="invalid-relleno" *ngIf="rfcv.invalid && (rfcv.dirty || rfcv.touched)">
              <div *ngIf="rfcv.errors.required">
                  El RFC es requerido
              </div>
              <div *ngIf="rfcv.errors.minlength">
                  El RFC debe tener 13 caracteres
              </div>
          </div>
          </div>
          <div class="col-md-4" *ngIf="banderaTipo">
            <label for="validationCustomUsernamee" class="form-label">fecha de nacimiento</label>
            <div class="input-group has-validation">
              <input type="date" [ngClass]="fechav.invalid && (fechav.dirty || fechav.touched)?'invalid-contorno':'form-controll'" id="validationCustomUsernamee"  name="fechaNacimientos" [(ngModel)]="fechaNacimiento"  required #fechav="ngModel">
              <div class="invalid-relleno" *ngIf="fechav.invalid && (fechav.dirty || fechav.touched)">
                <div *ngIf="fechav.errors.required">
                  Porfavor ingrese la fecha de nacimiento
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="banderaTipo">
            <div class="col-md-4">
              <label for="validationNombre" class="form-label">Nombre</label>
              <input (keyup)="onKey($event)" type="text" [ngClass]="nombrev.invalid && (nombrev.dirty || nombrev.touched)?'invalid-contorno':'form-controll'" id="validationNombre" name="nombre" [(ngModel)]="nombre" required #nombrev="ngModel">
              <div class="invalid-relleno" *ngIf="nombrev.invalid && (nombrev.dirty || nombrev.touched)">
                <div *ngIf="nombrev.errors.required">
                    El Nombre es requerido
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationApellidoP" class="form-label">Apellido Paterno</label>
              <input (keyup)="onKey($event)" type="text" [ngClass]="apellidopv.invalid && (apellidopv.dirty || apellidopv.touched)?'invalid-contorno':'form-controll'" id="validationApellidoP" name="apellidoP" [(ngModel)]="apellidoP" required #apellidopv="ngModel">
              <div class="invalid-relleno" *ngIf="apellidopv.invalid && (apellidopv.dirty || apellidopv.touched)">
                <div *ngIf="apellidopv.errors.required">
                    El Apellido Paterno es requerido
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationApellidoM" class="form-label">Apellido Materno</label>
              <input (keyup)="onKey($event)" type="text" [ngClass]="apellidomv.invalid && (apellidomv.dirty || apellidomv.touched)?'invalid-contorno':'form-controll'" id="validationApellidoM" name="apellidoM" [(ngModel)]="apellidoM" required #apellidomv="ngModel">
              <div class="invalid-relleno" *ngIf="apellidomv.invalid && (apellidomv.dirty || apellidomv.touched)">
                <div *ngIf="apellidomv.errors.required">
                    El Apellido Materno es requerido
                </div>
              </div>
            </div>
          </ng-container>
          <div class="col-md-12" *ngIf="!banderaTipo">
            <label for="validationRazon" class="form-label">Razon Social</label>
            <input (keyup)="onKey($event)" type="text" [ngClass]="razonsocialv.invalid && (razonsocialv.dirty || razonsocialv.touched)?'invalid-contorno':'form-controll'" id="validationRazon" name="razonSocial" [(ngModel)]="razonSocial" required #razonsocialv="ngModel">
            <div class="invalid-relleno" *ngIf="razonsocialv.invalid && (razonsocialv.dirty || razonsocialv.touched)">
              <div *ngIf="razonsocialv.errors.required">
                  La Razon Social es requerida
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Calle</label>
            <input (keyup)="onKey($event)" type="text" [ngClass]="callev.invalid && (callev.dirty || callev.touched)?'invalid-contorno':'form-controll'" id="validationCustom03" name="calle" [(ngModel)]="calle" required #callev="ngModel">
            <div class="invalid-relleno" *ngIf="callev.invalid && (callev.dirty || callev.touched)">
              <div *ngIf="callev.errors.required">
                  La Calle es requerida
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label for="validationCustom04" class="form-label">Numero</label>
            <input type="text" class="form-controll" name="numero" [(ngModel)]="numero" id="validationCustom04" >

          </div>
          <div class="col-md-4">
            <label for="validationCustom05" class="form-label">Colonia</label>
            <input (keyup)="onKey($event)" type="text" [ngClass]="coloniav.invalid && (coloniav.dirty || coloniav.touched)?'invalid-contorno':'form-controll'" id="validationCustom05" name="colonia" [(ngModel)]="colonia" required #coloniav="ngModel">
            <div class="invalid-relleno" *ngIf="coloniav.invalid && (coloniav.dirty || coloniav.touched)">
              <div *ngIf="coloniav.errors.required">
                  La Colonia es requerida
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label for="validationCustom06" class="form-label">C.P</label>
            <input type="text" [ngClass]="cpv.invalid && (cpv.dirty || cpv.touched)?'invalid-contorno':'form-controll'" id="validationCustom06" name="cp" [(ngModel)]="cp" required #cpv="ngModel">
            <div class="invalid-relleno" *ngIf="cpv.invalid && (cpv.dirty || cpv.touched)">
              <div *ngIf="cpv.errors.required">
                  El c.p es requerido
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="color:white; background-color: red; border-color: red;" data-bs-dismiss="modal" (click)="limpiarModal()">Cancelar</button>
        <button type="button" [disabled]="vacio()" data-bs-dismiss="modal" class="btn btn-primary" (click)='insertarContribuyente()' *ngIf="!banderaActualizar else elseBlock">Añadir contribuyente</button>
        <ng-template #elseBlock>
          <button [disabled]="vacio()"  type="button" class="btn btn-primary" data-bs-dismiss="modal" type="submit"  (click)='actualizarContribuyente()' >Actualizar contribuyente</button>
        </ng-template>
      </div>
    </div>
  </div>

</div>

