<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto">
      <mat-form-field appearance="fill">
        <mat-label>Multas</mat-label>
        <mat-select [formControl]="contribucionControl" (valueChange)="onChange($event)" [(value)]="selected" >
          <mat-option>Todas las contribuciones</mat-option>
          <mat-optgroup *ngFor="let group of contribucionGroups" [label]="group.name"
                        >
            <mat-option *ngFor="let contribucion of group.contribucion" [value]="contribucion.value">
              {{contribucion.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-auto">
      <input
      class="form-control mr-sm-2 busqueda text-center"
      type="search"
      placeholder="Buscar Multa"
      aria-label="Search"
      name="term"
      (keyup)="onSearh()"
      [(ngModel)]="termino"
      />
    </div>
    <div class="col-auto">
      <button type="button" class="btn boton-principal" [routerLink]="['/formulario-contribucion',4]"
      *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_ADMINSYSTEMAS'])">
      Agregar contribución</button>
      <!--<a class="ms-auto links" [routerLink]="['/formulario-contribucion',4]">Agregar multa</a>-->
    </div>
  </div>
  <div class="d-flex flex-row-reverse">

    <div>
      <span></span>
      <a
        href="{{
          urlEndPoint
        }}/api/reportes/listaContribucionAmultas/exportarPDF"
        class="btn btn-danger btn-sm ml-auto"
        ><i class="bi bi-printer"></i>Descargar lista</a
      >
    </div>
  </div>
<ng-container *ngIf=" selected===4">
  <div class="table-wrapper">
    <div class="alert alert-info my-4 text-center" *ngIf="contribucionesMultas!= undefined && contribucionesMultas.length==0">
      no hay ninguna contribucion agregada
    </div>
      <table class="table table-bordered table-striped tabla-estilo" *ngIf="contribucionesMultas!= undefined && contribucionesMultas.length>0">
        <thead class="cabecera text-white">
          <tr>
            <th>CÓDIGO</th>
            <th>DESCRIPCIÓN</th>
            <!--<th>TIPO</th>-->
            <th>PAGO</th>
            <th>CANTIDAD</th>
            <th
              class="text-center"
              *ngIf="
                authService.hasRole(['ROLE_ADMIN', 'ROLE_USER', 'ROLE_ADMINSYSTEMAS'])">
              <i class="fas fa-pencil-alt"></i>
            </th>
            <th class="text-center" *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_ADMINSYSTEMAS'])">
              <i class="fas fa-trash-alt"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contribucion of contribucionesMultas">
            <td>{{ contribucion.codigo_contribucion}}</td>
            <td>{{contribucion.scatalogo}} {{ contribucion.concepto_contribucion}}</td>
            <!--<td>{{ contribucion.nivelContribucionS}} </td>-->
            <td>{{ contribucion.tipo_pago}} </td>
            <td>{{ contribucion.cantidad}} </td>
            <td
              *ngIf="
                authService.hasRole(['ROLE_ADMIN', 'ROLE_USER', 'ROLE_ADMINSYSTEMAS'])">
              <button
                type="button"
                name="editar"
                [routerLink]="['/formulario-contribucion',contribucion.nivelContribucion,contribucion.codigo_contribucion]"
                class="btn btn-primary btn-sm"

              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td *ngIf="authService.hasRole(['ROLE_ADMIN', 'ROLE_ADMINSYSTEMAS',])">
              <button
                type="button"
                name="eliminar"
                class="btn btn-danger btn-sm"
                (click)='eliminarContribucionMultas(contribucion)'
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="container">
    <app-paginador-contribucion-multas
      *ngIf="paginador"
      [paginador]="paginador"
    ></app-paginador-contribucion-multas>
  </div>
</ng-container>
</div>
